@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: Light Red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --headings: 'Open Sans', sans-serif;
    --body: 'Poppins',sans-serif;
}
h1{
    font-family: var(--headings);
    color: var(--very-dark-cyan);
    font-size: 1.8rem;
    font-weight: 1000;
}
h2{
    font-family: var(--headings);
    color: var(--very-dark-cyan);
    font-size: 2.0rem;
    font-weight: 900;
}
p{
    font-family: var(--body);
    color: var(--very-dark-cyan);
    font-weight: 100;
    font-size: 1.0rem;
}
.btn-nav{
    background-color: white;
    border: 2px solid var(--light-pink);
    color: var(--light-pink);
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}
.btn-pink{
    background-color: var(--pink);
    border: none;
    color: white;
    border-radius: 30px;
    padding: 0.8rem 2.4rem;
}
/* nav */
.nav{
    width: 100%;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.nav__contend{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo-img{
    height: 7rem;
    width: 7rem;
    background-size: contain;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}
/* hero */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin: 0 2rem;
}
.hero-img{
    padding-top: 5rem;
    width: 90%;
}
.hero-numbers{
padding-top: 4rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5rem;
}
.hero-numbers-img{
    height: 41px;
    width: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/icon-communities.svg);
}
.hero-numbers-number{
    font-size: 5rem;
}
.hero-numbers-text{
    color: gray;
}
.hero-numbers-img2{
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/icon-messages.svg);
}
.grown{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.grown-background{
    background-color: var(--very-pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.top-img-grown{
    background-image: url(./images/bg-section-top-mobile-1.svg);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5rem;
}
.img-grown{
    background-image: url(./images/illustration-grow-together.svg);
    width: 80vw;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}
.bottom-img-grown{
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 5rem;
}
.conversations{
    padding-bottom: 8rem;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
}
.conversations-contend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 80%;
}
.conversations-img{
    background-image: url(./images/illustration-flowing-conversation.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80vw;
    height: 300px;
}
.users{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.top-img-users{
    background-image: url(./images/bg-section-top-mobile-2.svg);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.users-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--very-pale-blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.users-background p{
    width: 80%;
}
.img-users{
    background-image: url(./images/illustration-your-users.svg);
    width: 80vw;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}
.botton-img-users{
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
footer{
    
    
}
.wave-top{
    background-image: url(./images/bg-footer-top-mobile.svg);
    background-size: 100% 100%;
    width: 100%;
    height: 100px;
}
#container{
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.footer-sect1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: 10px;
}
.footer-h2{
    align-self: flex-start;

}
input{
    margin: auto;
    width: 90%;
    height: 40px;
    border-radius: 10px;
}
.sub{
   border-radius: 5px;
   align-self: flex-end;
}
.footer-h2{
    color: white;
}
.footer-text{
    color: white;
}
.footer-logo{
    background-image: url(./images/logo.svg);
    background-size: 100%;
}
.img-footer{
    background-image: url(./images/logo.svg);
    height: 2rem;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;

}

footer p{
    color: white;
}